<div class="container">
  <h1>{{ title }}</h1>

  <!-- app.component.html -->

  <form (ngSubmit)="onSubmit(newProductForm.value)" #newProductForm="ngForm">
    <!-- form fields -->
    <input ngModel name="name" type="text" placeholder="Name" required>
    <input ngModel name="description" type="text" placeholder="Description">
    <input ngModel name="price" type="number" placeholder="Price" required>
    <input ngModel name="quantity" type="number" placeholder="Quantity" required>
    <button type="submit">Create Product</button>
  </form>

  <!-- Update Product Form -->
  <div>
    <h2>Update Product</h2>
    <form (ngSubmit)="updateProduct(updateProductForm.value)" #updateProductForm="ngForm">
      <input type="hidden" name="productId" ngModel [value]="selectedProduct?.productId">
      <input type="text" name="name" ngModel [value]="selectedProduct?.name" placeholder="Name" required>
      <input type="text" name="description" ngModel [value]="selectedProduct?.description" placeholder="Description">
      <input type="number" name="price" ngModel [value]="selectedProduct?.price" placeholder="Price" required min="0">
      <input type="number" name="quantity" ngModel [value]="selectedProduct?.quantity" placeholder="Quantity" required min="0">
      <button type="submit">Update Product</button>
    </form>
  </div>

  <!-- Products List -->
  <div>
    <h2>Products List</h2>
    <table>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Actions</th>
      </tr>
      <tr *ngFor="let product of products">
        <td>{{ product.productId }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.description }}</td>
        <td>{{ product.price }}</td>
        <td>{{ product.quantity }}</td>
        <td>
          <button (click)="selectProduct(product)">Edit</button>
          <button (click)="deleteProduct(product.productId)">Delete</button>
        </td>
      </tr>
    </table>
  </div>

</div>
